<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.alfie.nightshift</string>
	<key>ProgramArguments</key>
	<array>
		<string>/bin/bash</string>
		<string>/Users/indranilkhomane/alfie-nightshift/run_and_publish.sh</string>
	</array>
	<key>RunAtLoad</key>
	<false/>
	<key>StandardErrorPath</key>
	<string>/Users/indranilkhomane/alfie-nightshift/nightshift/logs/launchd.log</string>
	<key>StandardOutPath</key>
	<string>/Users/indranilkhomane/alfie-nightshift/nightshift/logs/launchd.log</string>
	<key>StartCalendarInterval</key>
	<array>
		<dict>
			<key>Hour</key>
			<integer>5</integer>
			<key>Minute</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>Hour</key>
			<integer>5</integer>
			<key>Minute</key>
			<integer>50</integer>
		</dict>
		<dict>
			<key>Hour</key>
			<integer>6</integer>
			<key>Minute</key>
			<integer>10</integer>
		</dict>
	</array>
	<key>WorkingDirectory</key>
	<string>/Users/indranilkhomane/alfie-nightshift</string>
</dict>
</plist>
